{% extends 'base.html' %}

{% block title %}
Password Reset Sent
{% endblock title %}


{% block content %}
  
<div class="container">
<div class="jumbotron" style="height: 68vh;">
    <h1 class="display-4">Password Reset Sent</h1>
    <p class="lead">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <hr class="my-4">
    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    
  </div>
</div>
  {% endblock content %}