{% extends 'base.html' %}

{% block title %}
New Password
{% endblock title %}


{% block content %}

<div class="container">
<div class="jumbotron" style="height: 68vh;">
  <h1 class="display-4">Enter new password</h1>
  <p class="lead">Please enter your new password twice so we can verify you typed it in correctly.</p>
  <hr class="my-4">


  <form method="post">

    {% csrf_token %}
    {{form}}
    <input type="Submit" class="btn btn-outline-primary" name="Update Password">

  </form>
</div>
</div>
{% endblock content %}